.resultsHeadArea{
	width: 100%;
	height: 200px;
	background-image: url('../../../common/img/resultsHeaderImage.png');
	background-size: 101%;
	background-position: -3px -2px;

	.searchBox{
		padding-top: 40px;
	}
}