.sourceBar{
	width: 100%;
	height: 56px;
	margin-top: -2px;
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(30,30, 30, 0.8);
}

.sourceContainer{
	display: inline-block;
	cursor: pointer;
	background-color: #fff;

	.sourceTitle{
		display: inline-block;
		color: #fff;
		font-family: CHOpenSans;
		font-size: 14px;
		margin-left: 80px;
		margin-top: 21px;
		float: left;
		color: #E06D20;
		padding-bottom: 12px;
		margin-bottom: 0;
	}
}
