.day-and-time {
  font-size: 10px;


	path.area {
		fill: rgba(0, 152, 198, .2);
		stroke: #0098C6;
		stroke-width: 2;
	}

	path.areaTwo{
		fill: rgba(247, 115, 1, 0.2);
		stroke: #F77301;
		stroke-width: 2;
	}

	path.areaThree{
		fill: rgba(0, 230, 0, 0.2);
		stroke: #00E600;
		stroke-width: 2;
	}
}