.sourceText{
	font-family: CHOpenSans;
	font-size: 13px;
	margin-left: 70px;
	display: inline-block;
	margin-bottom: 0;
}

.learnMoreText{
	font-family: CHOpenSans;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 0;
	text-decoration: underline;
	margin-right: 82px;
	cursor: pointer;
	position: absolute;
	right: 0;
}